<div class="container-fliud">
  <div class="row-sm row_style"></div>
  <div class="row-sm row_style" style="margin-top:15%">
    <div class="col-xs-1 col-sm-2 col-md-4 column_style"></div>
    <div class="col-xs-10 col-sm-8 col-md-4 column_style">
      <div class="card">
        <form>
          <div class="card-header">
            
            ADMIN LOGIN</div>
          <div class="card-body">
            <div class="form-group">
              <label for="email">Email Id:</label>
              <input  class="form-control" placeholder="Enter email id" id="email">
              <label id="emailLabel" class="labels"></label>
            </div>
            <div class="form-group">
              <label type="password">Password:</label>
              <input type="password" class="form-control" placeholder="password" id="password">
              <label id="passwordLabel"></label>
            </div>
            <div>
              <button class="btn btn-primary btn-block" id="btn">Submit</button>
              <!-- <label id="msg"></label> -->
            </div>
          </div>
        </form>


      </div>
    </div>
    <div class="col-xs-1 col-sm-2 col-md-4 column_style"></div>
    </div>
    <div class="row-sm row_style"></div>
  
</div>